<div class="row">
  <div class="col-md-12">
    <profile></profile>
  </div>
  <div class="col-md-12">
    <div class="row card card-block">
      <div class="col-md-6 form-group">
        <label class="control-label">Firstname</label>
        <input type="text" class="form-control" placeholder="Firstname">
      </div>
      <div class="col-md-6 form-group">
        <label class="control-label">Lastname</label>
        <input type="text" class="form-control" placeholder="Lastname">
      </div>
      <div class="col-md-4 form-group">
        <label class="control-label">Age</label>
        <input type="text" class="form-control" placeholder="Age">
      </div>
      <div class="col-md-4 form-group">
        <label class="control-label">Passport</label>
        <input type="text" class="form-control" placeholder="Passport">
      </div>
      <div class="col-md-4 form-group">
        <label class="control-label">Password</label>
        <input type="password" class="form-control" placeholder="Password">
      </div>
      <div class="col-md-12 form-group">
        <label class="control-label">Email</label>
        <input type="email" class="form-control" placeholder="Email">
      </div>
      <div class="col-md-12">
        <button class="btn btn-primary">Update Profile</button>
      </div>
    </div>
  </div>
</div>
