<div class="card">
  <div class="profile-wrap animated fadeIn">
    <div class="info-wrap">
      <div class="avatar-wrap">
        <img src="{{avatarImgSrc}}" alt="avatar">
      </div>
      <span class="user-name">{{userName}}</span>
      <span class="user-post">{{userPost}}</span>
      <span class="map-location">
        <i class="fa fa-map-marker"></i>
        <span>Shen Zhen</span>
      </span>
    </div>
    <div class="profile-head">
      <img src="{{avatarImgSrc}}" alt="profile-head-bg" class="profile-head-bg">
    </div>
    <div class="profile-foot">
      <h4>Skills</h4>
      <div class="skills-wrap">
        <a href="#" class="skills-tag">Dev</a>
        <a href="#" class="skills-tag">Web</a>
        <a href="#" class="skills-tag">SQL</a>
        <a href="#" class="skills-tag">Java</a>
      </div>
    </div>
  </div>
</div>
